.ico-item {
  width: 100%;
  border-radius: .3em;
  font-family: sans-serif;
  width: 100%;
  cursor: pointer;
  margin: 10px 0px 0px 0px;
}

.flatTile {
  border-radius: .3em;
  color: white;
  font-family: sans-serif;
  font-size: 2em;
  padding: 3em 1em;
  width: 100%;
  cursor: pointer;
  margin: 10px 10px 0px 0px;
}
