<div class="general-container"
     fxLayout="column"
     fxLayoutAlign="center center">
  <div class="general-item-about"
       fxFlex="grow"
       fxLayout="row wrap"
       fxLayout.xs="column"
       fxLayout.s="column"
       fxLayoutAlign.xs="start"
       fxLayoutAlign="start start">
    <div fxFlex="40"
         fxLayout="column">
      <img fxFlex="50" src="assets/Vlastnik.png" style="width:90%;height:90%" alt="Vlastnik">
    </div>
    <div fxFlex="50" fxLayout="column">
      <mat-card class="black-color font-size-30">Návrh systém pro podporu SVJ</mat-card>
      <br>
      <p class="black-color about-text">
        Tato aplikace vznikla jako bakalářská práce v oboru Softwarové inženýrství a technologie na Fakultě
        elektrotechnické ČVUT v letním semestru B202.
      </p>
      <ul>
        <li class="black-color font-size-25"><a target="_blank"
                                                href="https://novascomp.synology.me/drive/d/f/611668967666269646">Uživatelská
          příručka</a></li>
        <li class="black-color font-size-25"><a target="_blank"
                                                href="https://novascomp.synology.me/drive/d/f/611669688813928123">Odkaz
          na bakalářskou práci</a></li>
      </ul>
      <div fxFlex="grow"
           fxLayout.xs="column"
           fxLayout.s="column"
           fxLayout.md="column"
           fxLayout.lt-md="column"
           fxLayoutAlign.xs="start"
           fxLayout="row wrap" fxLayoutAlign.xs="start">
        <div fxFlex="50">
          <p class="black-color about-text">
            Vytvořil:
          </p>
          <p class="black-color about-text">
            <strong>Pavel Novotný</strong>
          </p>
          <p class="font-size-22">
            <a href="mailto: novascomp@gmail.com">
              novascomp@gmail.com</a>
          </p>
          <p class="black-color about-text">
            Vedoucí práce:
          </p>
          <p class="black-color about-text">
            <strong>Ing. Pavel Náplava, Ph.D.</strong>
          </p>
        </div>
        <div fxFlex="50">
          <img src="/assets/logo_CVUT.jpg" style="width:75%;height:70%;" alt="ČVUT logo">
        </div>
      </div>
    </div>
  </div>
</div>
